@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #90dfff 0%, #e0f6ff 100%);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}